div.p-4.max-w-xl.mx-auto.bg-white.rounded-xl.shadow-md
  h1.text-xl.font-semibold.text-gray-900 New Diet
  = render 'form', diet: @diet
  = link_to raw('&#8592; Back'), :back, class: 'text-blue-600 dark:text-blue-500 hover:underline'